/* CUSTOM CSS */

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

.jumbotron {
    background-color: #292c19;
    color: #ffffff;
    margin: 0em;
    padding: 0em;
}

h3 {
    color: #2ea3f2;
}

h4 {
    color: #2ea3f2;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.btn-outline:hover
{
    background-color: #fcebcc;
}

.btn-outline
{
    border-color: #30110a;
    color: #333;
}

.sponsoren {
    background:#fff;
}

.sponsoren > a,.sponsoren > span {
	display:inline-block;
	width:120px;
	margin:5px;
}

.abstand-rechts {
    margin-right: 1em;
}

.absatz-festprogramm {
    margin-left: 3em;
    text-indent: -3em;
}

.blue {
    color: #2ea3f2;
}

.strong {
    font-weight: bold;
}

div.maps {
    height: 400px;
    width: auto;
    margin: 15px 0;
    border: 4px solid #000;
}

ul.nav a, a.navbar-brand {
    cursor: pointer;
}

body {
    padding-top: 50px;
    color:#30110a;
    background: #fff;
}

.metro-cell
{
    padding-right: 0px;
    padding-left: 0px;
}
.metro {
   /* background: #d7ccb8;*/
    height: 13em;
    /* padding: 1em;
    margin:0.3em;*/
}

/* Fix navbar in XS view */
.nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-brand {
    font-size: 16px;
}

.clown, .duck, .email, .geschichte, .musikicon, .chainsaw, .plusicon, .speisekarte, .sponsor, .text, .party, .party2, .kinder {
    display: block;
    width: 36px;
    height: 36px;
}

.black {
    background:#000;
    color:#fff;
}

.page-header {
    background:#2ea3f2;
    color:#fff;
    margin: 0;
    padding-bottom: 9px;
}

h1 small
{
    color:#fff;
}

#swcarousel {
	max-width:1080px;
	margin: 0 auto 20px;
}

.rade-homeicon {
    display:inline-block;
    height:16px;
    width:16px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1792" height="1792" viewBox="0 0 1792 1792" version="1"><path d="M1536 1022v623q0 34-21 58-21 25-50 25h-427v-498H754v498H327q-29 0-50-25-21-24-21-58v-623-3l1-4 639-615 639 615 1 7zm248-89l-69 96q-9 12-23 14h-3q-15 0-24-9L896 286l-769 748q-14 11-27 9-14-2-23-14L8 933q-9-13-8-31 1-17 12-27L812 98q35-34 84-34t84 34l272 264V109q0-18 10-29 10-12 25-12h214q15 0 25 12 10 11 10 29v530l244 236q11 10 12 27 1 18-8 31z"/></svg>');
    background-size: 16px 16px;
    position:relative;
    top:1px;
}

.img4t3 {
  max-width: 100%;
}

.img2t1 {
  max-width: 120px;
}

.img4t3:before, .img2t1:before {
  content: "";
  float: left;
  padding-bottom: 75%;
}

.img2t1:before {
  padding-bottom: 50%;
}

.img4t3:after, .img2t1:after {
  content: "";
  display: table;
  clear: both;
}

.radeimg1 {
	background: url("../img/flyer/landing4_1080_420.jpg") no-repeat center top;
}
.radeimg2 {
	background: url("../img/flyer/landing2_1080_420.jpg") no-repeat center top;
}
.radeimg3 {
	background: url("../img/flyer/landing3_1080_420.jpg") no-repeat center top;
}
.radeimg4 {
	background: url("../img/flyer/landing1_1080_420.jpg") no-repeat center top;
}

.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

.carousel-inner {
	border-radius: 0 0 5px 5px;
	box-shadow:3px 3px 2px rgba(0, 0, 0, 0.3);
}

@media(max-width:767px){
	.carousel-inner {
		border-radius: 0px;
	}
}

.carousel .item {
	min-height: 420px;
	width:100%;
}

@media(max-width:767px){
	.carousel .item {
		min-height: 210px;
		background-size: auto 100%;
	}
}

header h1 {
    margin-bottom: 1px;
}

nav .navbar-brand {
    padding-top: 19px;
}